In [25]:
import pandas as pd

df = pd.read_csv("original data pulls/all_types_of_death.csv")

In [26]:
df.head()

    county_name  death_year   type  death_count
0  Pennsylvania        2000  final       130092
1  Pennsylvania        2001  final       129648
2  Pennsylvania        2002  final       129396
3  Pennsylvania        2003  final       128890
4  Pennsylvania        2004  final       126602

In [27]:
finished_deaths_df = []

finished_deaths_df = df.loc[df['death_year'] == 2018]

In [28]:
finished_deaths_df.head()

     county_name  death_year       type  death_count
18  Pennsylvania        2018  projected       134571
38         Adams        2018  projected         1055
58     Allegheny        2018  projected        14051
78     Armstrong        2018  projected          855
98        Beaver        2018  projected         2185

In [29]:
finished_deaths_df.type.value_counts()

projected    68
Name: type, dtype: int64

In [30]:
finished_deaths_df = finished_deaths_df.set_index('county_name')

In [31]:
finished_deaths_df = finished_deaths_df.drop(columns=('type'))
finished_deaths_df = finished_deaths_df.drop(columns=('death_year'))
finished_deaths_df.head()

              death_count
county_name
Pennsylvania       134571
Adams                1055
Allegheny           14051
Armstrong             855
Beaver               2185

In [32]:
finished_deaths_df.to_csv("clean data/2018_deaths_clean")